<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/03e8e208c1.js"
      crossorigin="anonymous"
    ></script>
    <title>Carrito de compras</title>
  </head>
  <body>
    <div class="title">
      <h1><i class="fa-solid fa-cart-shopping"></i> Mi Carrito</h1>
    </div>
    <div class="maqueta__pc">
      <div class="maq__con__vaciar__cart">
        <div class="product__conteiner">
          <section>
            <div class="titulosProd">
              <h2>Producto</h2>
              <h2>Cantidad</h2>
              <h2>Total</h2>
            </div>
            <article class="card__art">
              <img src="/public/img/vajilla.webp" alt="img-product" />
              <div class="prod__cant__maqueta">
                <div class="prod__cant__conteiner">
                  <h4 class="desc__prod">Set Vajilla 20 Piezas Kosem Blanco</h4>
                  <div class="prod__container">
                    <input class="sumayresta" type="button" value="-" />
                    <input
                      type="number"
                      name="cantidad"
                      id="cant"
                      class="cant prod__cant__conteiner"
                    />
                    <input class="sumayresta" type="button" value="+" />
                  </div>
                </div>
                <h3 class="marca__prod">Cotidiana</h3>
                <h3 class="price__prod">$8.997,00</h3>
                <div class="tacho">
                  <i class="fa-solid fa-trash-can"></i>
                </div>
              </div>
            </article>
            <article class="card__art">
              <img src="/public/img/vanitory.webp" alt="img-product" />
              <div class="prod__cant__maqueta">
                <div class="prod__cant__conteiner">
                  <h4 class="desc__prod">Vanitory Roma Para Colgar Con Bacha</h4>
                  <div class="prod__container">
                    <input class="sumayresta" type="button" value="-" />
                    <input
                      type="number"
                      name="cantidad"
                      id="cant"
                      class="cant prod__cant__conteiner"
                    />
                    <input class="sumayresta" type="button" value="+" />
                  </div>
                </div>
                <h3 class="marca__prod">Amube</h3>
                <h3 class="price__prod">$7.614,00</h3>
                <div class="tacho">
                  <i class="fa-solid fa-trash-can"></i>
                </div>
              </div>
            </article>
            <article class="card__art">
              <img src="/public/img/griferia.webp" alt="img-product" />
              <div class="prod__cant__maqueta">
                <div class="prod__cant__conteiner">
                  <h4 class="desc__prod">Set Griferia de Baño Avalon Plus</h4>
                  <div class="prod__container">
                    <input class="sumayresta" type="button" value="-" />
                    <input
                      type="number"
                      name="cantidad"
                      id="cant"
                      class="cant prod__cant__conteiner"
                    />
                    <input class="sumayresta" type="button" value="+" />
                  </div>
                </div>
                <h3 class="marca__prod">Fv</h3>
                <h3 class="price__prod">$44.580,00</h3>
                <div class="tacho">
                  <i class="fa-solid fa-trash-can"></i>
                </div>
              </div>
            </article>
          </section>
        </div>
        <div class="vaciar__carro">
          <a href="#">Vaciar carrito</a>
        </div>
      </div>
      <!--? CÓDIGO PROMOCIONAL -->
      <div class="barra__derecha">
        <div class="prom__conteiner">
          <p class="code">
            <i class="fa-solid fa-tag"></i> Ingresá tu código promocional
          </p>
          <div class="valid__code">
            <input class="insert__code" type="text" placeholder="Código" />
            <input class="insert__btn" type="button" value="Aplicar" />
          </div>
        </div>
        <!--? inicio RESUMEN DE COMPRA  -->
        <div class="resume__conteiner">
          <div class="title__resume">
            <p>Resumen de la compra</p>
          </div>
          <div class="price__products__conteiner">
            <div class="price__products">
              <p>Precio de mis productos</p>
            </div>
            <div class="price__products__item">
              <p>$68.035,00</p>
            </div>
          </div>
          <div class="total__disc__conteiner">
            <div class="total__disc">
              <p>Descuentos</p>
            </div>
            <div class="total__disc__item">
              <p>$-6.844,00</p>
            </div>
          </div>
          <div class="total__compra__conteiner">
            <div class="total__compra">
              <p>Total de mis productos</p>
            </div>
            <div class="total__compra__item">
              <p>$61.191,00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="cont__compra">
        <input
          class="cont__compra__button"
          type="button"
          value="Continuar compra"
        />
      </div>
      <div class="elegirmasproductos">
        <a href="#">Elegir más productos</a>
      </div>
    </div>

    <!--? fin RESUMEN DE COMPRA -->
  </body>
</html>
